<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update User</title>
  </head>
  <body>
    <h1>Edit User Information</h1>
    <form
        action="<%= '/users/' + user.id + '?_method=PUT' %>"
        method="POST">
      <div>
      <label>
        Email
        <input name="email" value="<%= user.email %>">
      </label>
      </div>
      <div>
      <label>
        First Name
        <input name="firstName" value="<%= user.firstName %>">
      </label>
      </div>
      <div>
      <label>
        Last Name
        <input name="lastName" value="<%= user.lastName %>">
      </label>
      </div>
      <div>
      <label>
        Date of Birth
        <input name="dob" type="date" value="<%= moment(user.dob).format('YYYY-MM-DD') %>">
      </label>
      </div>
      <input type="submit" value="Submit">
      <p><a href=" <%= '/users/' + user.id%>">Return to Profile</a></p>
      <p><a href="/users">Home</a></p>
    </form>
  </body>
</html>
