<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show User Info</title>
</head>
<body>
  <div>
    <h1>User Information</h1>
    <p><%= user.firstName %> <span><%= user.lastName %></span></p>
    <p><%= user.email %></p>
    <p><%= user.dob %></p>
    <p><a href="<%= '/users/' + user.id + '/edit/' %>"><input type="submit" value="Update User"></a></p>
    <p><a href="/users/">Home</a></p>
  </div>
</body>
</html>
