<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show User Info</title>
</head>
<body>
  <div>
    <h1>User Information</h1>
    <span><%= user.firstName %></span>
    <span><%= user.lastName %></span>
    <span><%= user.email %></span>
    <span><%= user.dob %></span>
    <a href="<%= '/users/' + user.id + '/edit/' %>">Update User</a>
    <a href="/users/">Home</a>
  </div>
</body>
</html>
